{% extends "web/base.html" %}
{% load static %}



{% block content %}




<!-- Content Start -->
<div class="content">

<!-- Blank Start -->




        <!-- Blank Start -->
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Detalle de Reserva</h6>
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">ID Reserva</th>
                                <th scope="col">ID Paciente</th>
                                <th scope="col">ID Médico</th>
                                <th scope="col">Fecha Reserva</th>
                                <th scope="col">Hora Inicio</th>
                                <th scope="col">Hora Termino</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                <td>{{ obj.id }}</td>
                                <td>{{ obj.id_paciente }}</td>
                                <td>{{ obj.id_medico }}</td>
                                <td>{{ obj.fecha }}</td>
                                <td>{{ obj.hora_inicio }}</td>
                                <td>{{ obj.hora_termino }}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Blank End -->
</div>
<!-- Blank End -->

        </div>
        <!-- Content End -->


    <!-- Volver arriba -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
{% endblock content %}
